@model Models.PagedResults<List<Models.Entities.User>, Models.Constants.ConstantStrings>

<div id="userResults">
    <table class="table" id="userResults">
        <thead>
            <tr>
                <th><a onclick="SortTable('@Model.TableControls.Sorting.SortingFields.FIRST_NAME', @(Model.TableControls.Sorting.SortDirection == "asc" ? "'desc'" : "'asc'"))">First Name @((Model.TableControls.Sorting.SortColumn == Model.TableControls.Sorting.SortingFields.FIRST_NAME ? (Model.TableControls.Sorting.SortDirection == "asc" ? "↑" : Model.TableControls.Sorting.SortDirection == "desc" ? "↓": "") : ""))</a></th>
                <th><a onclick="SortTable('@Model.TableControls.Sorting.SortingFields.LAST_NAME', @(Model.TableControls.Sorting.SortDirection == "asc" ? "'desc'" : "'asc'"))">Last Name @((Model.TableControls.Sorting.SortColumn == Model.TableControls.Sorting.SortingFields.LAST_NAME ? (Model.TableControls.Sorting.SortDirection == "asc" ? "↑" : Model.TableControls.Sorting.SortDirection == "desc" ? "↓": "") : ""))</a></th>
                <th><a onclick="SortTable('@Model.TableControls.Sorting.SortingFields.SCHOOL', @(Model.TableControls.Sorting.SortDirection == "asc" ? "'desc'" : "'asc'"))">School @((Model.TableControls.Sorting.SortColumn == Model.TableControls.Sorting.SortingFields.SCHOOL ? (Model.TableControls.Sorting.SortDirection == "asc" ? "↑" : Model.TableControls.Sorting.SortDirection == "desc" ? "↓": "") : ""))</a></th>
                <th><a onclick="SortTable('@Model.TableControls.Sorting.SortingFields.USER_TYPE', @(Model.TableControls.Sorting.SortDirection == "asc" ? "'desc'" : "'asc'"))">User Type @((Model.TableControls.Sorting.SortColumn == Model.TableControls.Sorting.SortingFields.USER_TYPE ? (Model.TableControls.Sorting.SortDirection == "asc" ? "↑" : Model.TableControls.Sorting.SortDirection == "desc" ? "↓": "") : ""))</a></th>
                <th><a onclick="SortTable('@Model.TableControls.Sorting.SortingFields.YEAR_GROUP', @(Model.TableControls.Sorting.SortDirection == "asc" ? "'desc'" : "'asc'"))">Year Group @((Model.TableControls.Sorting.SortColumn == Model.TableControls.Sorting.SortingFields.YEAR_GROUP ? (Model.TableControls.Sorting.SortDirection == "asc" ? "↑" : Model.TableControls.Sorting.SortDirection == "desc" ? "↓": "") : ""))</a></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Results)
            {
                <tr>
                    <td>
                        <label>@item.FirstName</label>
                    </td>
                    <td>
                        <label>@item.LastName</label>
                    </td>
                    <td>
                        <label>@item.School.Name</label>
                    </td>
                    <td>
                        <label>@item.UserType.Name</label>
                    </td>
                    <td>
                        <label>@item.YearGroup?.Name</label>
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.UserId">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.UserId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <partial name="_PagingPartial" for="@Model.TableControls" />

</div>