@model Models.ViewModels.EditUserViewModel;

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="User.UserId" />
            <div class="form-group">
                <label asp-for="@Model.User.FirstName" class="control-label"></label>
                <input asp-for="@Model.User.FirstName" class="form-control" />
                <span asp-validation-for="@Model.User.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.User.LastName" class="control-label"></label>
                <input asp-for="@Model.User.LastName" class="form-control" />
                <span asp-validation-for="@Model.User.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.User.SchoolId" class="control-label">School</label>
                <select asp-items="@(new SelectList(Model.SchoolList, "SchoolId", "Name", Model.User.SchoolId))" asp-for="@Model.User.SchoolId" class="form-control">
                    <option value="0">Please select an option</option>
                </select>
                <span asp-validation-for="@Model.User.SchoolId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.User.UserTypeId" class="control-label">User Type</label>
                <select asp-items="@(new SelectList(Model.UserTypeList, "UserTypeId", "Name", Model.User.UserTypeId))" asp-for="@Model.User.UserTypeId" class="form-control">
                    <option value="0">Please select an option</option>
                </select>
                <span asp-validation-for="@Model.User.UserTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.User.DateOfBirth" class="control-label"></label>
                <input asp-for="@Model.User.DateOfBirth" class="form-control" />
                <span asp-validation-for="@Model.User.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.User.YearGroupId" class="control-label">Year Group</label>
                <select asp-items="@(new SelectList(Model.YearGroupList, "YearGroupId", "Name", Model.User.YearGroupId))" asp-for="@Model.User.YearGroupId" class="form-control">
                    <option value="0">Please select an option</option>
                </select>
                <span asp-validation-for="@Model.User.YearGroupId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update Details" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
