@model IEnumerable<Models.Entities.User>

@{
    ViewData["Title"] = "Index";
}

<h1>User List</h1>

<p>
    <a asp-action="Create">Create User</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>School Name</th>
            <th>User Type</th>
            <th>Year Group</th>
            <th>Date Of Birth</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <label>@item.FirstName</label>
                </td>
                <td>
                    <label>@item.LastName</label>
                </td>
                <td>
                    <label>@item.School.Name</label>
                </td>
                <td>
                    <label>@item.UserType.Name</label>
                </td>
                <td>
                    <label>@item.YearGroup?.Name</label>
                </td>
                <td>
                    <label>@item?.DateOfBirth</label>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.UserId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
